.imagemap .point {
  --point-size: 20px;
  backdrop-filter: blur(1px);
  background-color: rgba(255 255 255 / 50%);
  border: 4px solid var(--link-color);
  box-shadow: 1px 1px 3px rgba(0 0 0 / 50%);
  cursor: pointer;
  height: var(--point-size);
  position: absolute;
  width: var(--point-size);
  transform: translate(-50%, -50%);
  transition: scale 0.3s ease, transform 0.3s ease;
}

.imagemap .point::after {
  background-color: rgba(255 255 255 / 90%);
  backdrop-filter: blur(1px);
  border: 4px solid var(--link-color);
  content: attr(data-title);
  display: block;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 8px;
  position: absolute;
  text-align: center;
  transform: translate(-40%, -110%);
  width: 150px;
  pointer-events: none;
}

.imagemap .point:hover::after,
.imagemap .point:focus-visible::after {
  opacity: 1;
}

.imagemap .imagemap-img-col {
  position: relative;
  width: fit-content;
}